# Project place file
/Praxis.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
wally.lock
build

# pesde
roblox_packages/
luau_packages/
lune_packages/
.pesde/
pesde.lock
package.tar.gz